
.sidepanel{
    max-height: 100vh;
    min-width: 190px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-width: 1px;
    border-color: #cfcaca;
    order: 1;

}
.iconstyle{
    height: 25px;
    margin-right: 15px;
}
.iconstyle:hover{
    height: 28px;
}
@media screen and (max-width:750px){
    .sidepanel{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        align-items: center;
        order: 2;
    }
}
.profileIcon{
    height: 28px;
    width: 28px;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 17px;
}
.heading{
    font-family: "Roboto";
    font-size: 23px;
}
.homeIconContaienr{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    padding-left: 10px;
  
}
.homeIconContaienr:hover{
    background-color: rgb(239, 234, 234);
}
.nameofHeader{
    margin: 10px;
    align-self: center;
}
.pro{
    margin-left: 12px;
}