.contentcontainerMainfro{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}
@media screen and (max-width:768px){
    .contentcontainerMainfro{
        padding-left: 20px;
        justify-content: center;
    }
}
.profilebutton{
    border: none;
    background-color: transparent;
}
.viratProfile{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
}
.viratProfilesmall{
    height: 90px;
    width: 90px;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
}
.statusring{
    height: 159px;
    width: 159px;
    border-color: #c23094;
    border-style: solid;
    border-radius: 100px;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statusring1{
    height: 159px;
    width: 159px;
    border-color: #a3a199;
    border-style: solid;
    border-radius: 100px;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statusringsmal{
    height: 98px;
    width: 98px;
    border-color: #c23094;
    border-style: solid;
    border-radius: 100px;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statusringsmal1{
    height: 98px;
    width: 98px;
    border-color: #a3a199;
    border-style: solid;
    border-radius: 100px;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailsContinaer{
    display: flex;
    flex-direction: column;

}
@media screen and (max-width:960px){
    .detailsContinaer{
        align-items: center;
    }
}
.blutickImage{
    height: 30px;
    border-radius: 100px;
    align-self: center;
}
.profilebox{
    height: 250px;
    min-width: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.followingbuttoncontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:750px){
    .profilebox{
        min-width:auto;
        height: 150px;
        width: 120px;
        margin-right: 10px;
    }
}
.downarrow{
    height: 10px;
}
.nameFollowingtitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width:750px){
    .nameFollowingtitle{
        justify-content: center;
    }
}
.viratKohiliNmetitele{
    font-size: 30px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
}
.namethreedotsconatiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.buttonfollow{
    background-color: transparent;
    margin-left: 10px;
    height: 30px;
    text-align: center;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    border-width: 1px;
    justify-content: center;
}
@media screen and (max-width:750px){
   .buttonfollow{
    margin-left: 0px;
   }
}
.buttonmessage{
    background-color: transparent;
    margin-left: 10px;
    font-weight: 500;
    height: 30px;
    text-align: center;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    border-width: 1px;
    justify-content: center;
}
.buttonperson{
    background-color: transparent;
    margin-left: 10px;
    font-weight: 500;
    height: 30px;
    text-align: center;
    width: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    border-width: 1px;
    justify-content: center;
}
.threeDots{
    font-size: 20px;
    margin-left: 10px;
    align-self: center;
}
.followingDetails{
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-between;
    margin-top: 0px;

}
.namefollowingbuttonscontaienr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:750px){
    .namefollowingbuttonscontaienr{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
.paraa{
    margin: 0px;
    padding: 0px;
}
.linkkkkk{
    text-decoration: none;
    color: #02447a;
    font-weight: 600;
}
.followedby{
    font-size: 12px;
    color: #797e82;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}
.thikFollowed{
    color: #505559;
    margin-left: 2px;
}
.namerofkohili{
    font-size: 15px;
    font-weight: 600;
}
.nameDetailsContaienr{
    display: flex;
    flex-direction: column;

}
.count{
    font-weight: 600;
    margin-right: 5px;
}

.scorefollwiongnamecount{
    display: flex;
    flex-direction: row;
}