.contentcontainerMain{
    background-color: #f7f5f5;
    background-size: cover;
    width: 88%;
    padding: 30px;
    overflow: scroll;
    order: 2;
}
@media screen and (max-width:768px){
    .contentcontainerMain{
        padding-left: 0px;
        padding-right: 0px;
        order: 1;
        width: 100%;
    }
}
.galarycontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
